@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>Author Information</h3>
<address>
    MOHAMMED ZAMEEL ZUBAIR<br />
    P. O. BOX 98765, DOHA, QATAR<br />
    <abbr title="Phone">P:</abbr>
    (974)-44123456 <br />
    <strong>Email:</strong>   <a href="mailto:zameelmalol@gmail.com">zameelmalol@gmail.com</a><br />
</address>

<address>
    Sabraso Fruits & Veggies<br />
    P.O. Box: 2349, Doha Qatar<br />
    <abbr title="Phone">P:</abbr>
    (974)-44438643 <br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<h3>Our Location</h3>
<a href="https://goo.gl/maps/JL4qg"><img src="~/Content/Images/location.png" alt="Map Location"></a>